body{
  font-family: Helvetica; 
  font-size: 24px; 
}

header{
  background-color: black; 
  color: white;
  text-align: center;
  height: 35px; 
  margin-top: 10px; 
}

#state {
  border: solid;
  height: 30px;
  width: auto; 
}

.difficulty {
  display: inline-block;
  border: solid;
  margin: 0 auto;
  width: 20%;  
}

.wrapper{
  border: solid;
  background-color: #D16215;
  margin: 0 auto; 
  text-align: center; 
}

#hold, #moves{
  border: solid;
  height: 60px; 
  width: 60px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}



#container {
  border: solid;
  height: 600px;
  min-width: 300px;
  width: auto; 
  margin: 0 auto; 
  background-color: #D6D63A;
  text-align: center; 
}

.row {
  width: auto; 
  margin: 0 auto; 
  text-align: center;
}

.label{
  width: 30%; 
  display: inline-block;
}

.tower{
  vertical-align: bottom; 
  margin-left: 10px; 
  margin-top: 50px; 
  display: inline-block;
  border: solid;  
  height: 500px; 
  width: 160px; 
  width: 30%;
  position: relative;
  text-align: center;
}

#reset {
  border: solid;
  height: 30px;
  color: yellow;
  border-color: black; 
}

.disk{
  background-color: #D16215;
  height: 50px; 
  width: 60%;
  border: solid;
  display: block;
  bottom: 0; 
  position: relative;
  margin: 0 auto; 
}